

body {
	background-color: #121212;
	color: #AAA;
}

h1 {
	margin: 20px 0px;
}

h2 {
	margin: 15px 0px;
}

h3 {
	margin: 10px 0px;
}

a {
	color: #80cbc4;
}

pre, code {
	color: #AAA;
	font-family: monospace;
}

table {
	border-collapse: collapse;
	margin: 10px 0px;
}

caption {
	text-align: left;
	white-space: nowrap;
	font-weight: bold;
	margin-bottom: 4px;
}

th, td {
	border: 1px solid #333;
	padding: 5px 5px;
}

th {
	background-color: #1f1f1f;
}

dt {
	font-weight: bold;
	margin: 5px 0px;
}

dd {
	margin: 5px 24px;
}

ul li {
	list-style: disc;
	margin-left: 16px;
}

ol {
	counter-reset: item;
	list-style: none;
}

ol li {
	margin-left: 30px;
	counter-increment: item;
}

ol li::marker {
	content: counter(item, lower-alpha) ". ";
	font-family: "Courier New";
	font-weight: bold;
}

.admonitionblock {
	background-color: #1e1e1e;
	border-left: 4px solid #64b5f6;
}

.literalblock {
	margin: 5px 0px;
}

.paragraph {
	margin: 10px 0px;
}

.halign-center {
	text-align: center;
}

.halign-right {
	text-align: right;
}
